@page "/"
@using BlazorApp.Components

<PageTitle>Index</PageTitle>

<header>
<p>ホワイトボード</p>
</header>

<body>
Welcome to your new app.

<ToolBarView></ToolBarView>
<MainView></MainView>
<CanvasView></CanvasView>

</body>

<SurveyPrompt Title="How is Blazor working for you?"/>

<Counter IncrementAmount="10"/>